<div class="ui-rtl" dir="rtl">
  <div class="ui-g ui-g-nopad" id="header">
      <div class="ui-g-12">
          <p-menubar #bigMenu [model]="menuItems"></p-menubar>
      </div>

  </div>
      
  <div class="ui-g ui-g-nopad">

    <div class="ui-g-2 ui-g-nopad" id="sidegutter">
      
    </div>

    <div class="ui-g-2 ui-g-nopad" id="minigutter">

      <!-- <div id="sidenav-mini">

        <p-menu #smallMenu [model]="miniMenuItems"></p-menu>

      </div> -->

    </div>
      
    <div id="content-body" class="ui-g-10 ui-g-nopad">

      <router-outlet></router-outlet>

    </div>
  </div>
</div>