.topbar-menu {
    list-style-type: none;
    float: right;
    margin: 0 60px 0 0;
    padding: 0;
}

.topbar-menu>li>a {
    text-decoration: none;
    color: #fff;
    transition: background-color .3s;
    min-width: 120px;
    text-align: center;
    box-sizing: border-box;
    line-height: 70px;
}

.topbar-menu, .topbar-menu>li, .topbar-menu>li>a {
    display: inline-block;
    height: 100%;
}